<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-brand">
        Appointments
    </div>
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/profile">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
        <a class="navbar-brand" ng-click="model.logout()">
            <span class="pull-right glyphicon glyphicon-log-out"></span>
        </a>
    </div>

</nav>

<br>
<br>

<div class="container">
    <div ng-show="model.log" class="alert alert-info" role="alert">
        {{model.log}}
    </div>

    <div class="col-xs-6">
        <button class="btn btn-block btn-info wrap-text" ng-click="model.showAllAppointments()">
            List all Appointments
        </button>
    </div>

    <div class="col-xs-6">
        <button class="btn btn-block btn-info wrap-text" ng-click="model.showMyAppointments()">
            List my Appointments
        </button>
    </div>

</div>

<br>
<br>

<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>_id</th>
                <th>Doctor Name</th>
                <th>Patient Name</th>
                <th>Description</th>
                <th>Date of Appointment</th>
                <th>Date Created</th>
                <th ng-hide="model.bool" ><span ng-click="model.bookAppt = true; model.bool = true"
                                                class="glyphicon glyphicon-plus"></span></th>
                <th ng-hide="!model.bool"><span ng-click="model.makeAppointment(model.newappt)"
                                                class="glyphicon glyphicon-ok"></span></th>
                <th ng-hide="!model.bool"><span ng-click="model.bookAppt = false; model.bool = false"
                                                class="glyphicon glyphicon-remove"></span></th>
            </tr>
            </thead>

            <tbody ng-show="model.searchResults" ng-repeat="search in model.searchResults">
            <tr class="success">

                <td>{{search._id}}</td>
                <td ng-show="search.editfields">
                    <input
                            ng-model="model.search.docName"
                            type="text"
                            class="form-control"
                            placeholder="john"/></td>
                <td ng-hide="search.editfields">{{search.docName}}</td>
                <td ng-show="search.editfields">
                    <input
                            ng-model="model.search.patName"
                            type="text"
                            class="form-control"
                            placeholder="blake"/></td>
                <td ng-hide="search.editfields">{{search.patName}}</td>
                <td ng-show="search.editfields">
                    <input
                            ng-model="model.search.description"
                            type="text"
                            class="form-control"
                            placeholder="lower neck pain"/></td>
                <td ng-hide="search.editfields">{{search.description}}</td>
                <td ng-show="search.editfields">
                    <input
                            ng-model="model.search.dateOfAppt"
                            type="date"
                            class="form-control"
                            placeholder="john"/></td>
                <td ng-hide="search.editfields">{{search.dateOfAppt}}</td>
                <td>{{search.dateCreated}}</td>
                <td ng-hide="search.editfields">
                    <span ng-click="search.editfields = true" class="glyphicon glyphicon-pencil"></span>
                </td>

                <td ng-show="search.editfields">
                    <span ng-click="model.updateAppointment(search._id, model.search)" class="glyphicon glyphicon-ok"></span>
                </td>

                <td ng-show="search.editfields">
                    <span ng-click="search.editfields = false" class="glyphicon glyphicon-remove"></span>
                </td>

                <td ng-hide="search.editfields">
                    <span ng-click="model.deleteAppointment(search)" class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>






<div ng-show="model.bookAppt" class="container-fluid">
    <h3>Book a new appointment</h3>
    <hr>
    <form>
        <div class="form-group">
            <label for="dname">Doctor Username</label>
            <input ng-model="model.newappt.docName" type="text"
                   class="form-control" id="dname"
                   placeholder="Doctor Name">

            <label for="dname">Patient Username</label>
            <input ng-model="model.newappt.patName" type="text"
                   class="form-control" id="pname"
                   placeholder="Patient Name">

            <label for="des">Description</label>
            <textarea ng-model="model.newappt.description" type="text"
                   class="form-control" id="des" rows="3"
                   placeholder="Lower neck pain">
            </textarea>

            <label for="date">Book an Appointment For</label>
            <input ng-model="model.newappt.dateOfAppt" type="date"
                   class="form-control" id="date"
                   placeholder="Appointment Date [dd/mm/yyyy]">
        </div>
    </form>

</div>
<br>
<br>
<br>
<br>
<br>

<a class="navbar-brand wrap-text text-centre navbar btn-primary active navbar-fixed-bottom" href="#/dashboard">
    Dashboard
</a>