<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-brand">
        Dashboard
    </div>
    <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#/profile">
            <span class="pull-right glyphicon glyphicon-user"></span>
        </a>
        <a class="navbar-brand" ng-click="model.logout()">
            <span class="pull-right glyphicon glyphicon-log-out"></span>
        </a>
    </div>

</nav>

<br>
<br>

<div class="container">
    <div>
        <a class="btn btn-block btn-primary card" href="#/appointments">Appointments</a>
    </div>

    <div>
        <a class="btn btn-block btn-info card" href="#/inbox">Inbox</a>
    </div>

    <div>
        <a ng-show="model.user.role === 'ADMIN'" class="btn btn-block btn-danger card" href="#/accounts">Manage Accounts</a>
    </div>
</div>