<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-text pull-right no-right-margin">
        <a ng-click="model.updateUser(model.user)"><span class="glyphicon glyphicon-ok"></span></a>
    </div>

    <div class="navbar-header">
        <a class="navbar-brand" href="#/profile">Profile</a>
    </div>

</nav>

<div class="container-fluid">
    <h1></h1>

    <div ng-show="model.message" class="alert alert-success" role="alert">
        <strong>Success!</strong> {{model.message}}
    </div>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        <strong>Error!</strong> {{model.error}}
    </div>

    <form class="text-white">

        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email" type="email" class="form-control" id="email"
                   placeholder="email@address.com">
        </div>

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name"
                   placeholder="First name">
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name"
                   placeholder="Last name">
        </div>

        <div ng-show="model.user.role === 'DOCTOR'" class="form-group">
            <label for="dept">Department</label>
            <input ng-model="model.user.department" type="text" class="form-control" id="dept"
                   placeholder="Neurology">
        </div>

    </form>

    <div class="container-fluid">
        <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-warning btn-block login-card" ng-click="model.logout()">Logout</a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-danger btn-block login-card" ng-click="model.deleteUser(user)">Delete Account</a>
        </div>
        </div>
    </div>

</div>

<a class="navbar-brand wrap-text text-centre navbar btn-primary active navbar-fixed-bottom" href="#/dashboard">
    Dashboard
</a>