

<div class="container-fluid">
    <h2 class="text-white text-centre">Register</h2>
    <hr>
    <div ng-show="model.message" class="alert alert-success" role="alert">
        <strong>Success!</strong> {{model.message}}
    </div>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        <strong>Error!</strong> {{model.error}}
    </div>

    <div>
        <div class="row">
            <div class="col-xs-6">
                <input ng-model="user.firstName" type="text" class="form-control" placeholder="First Name"/>
                <input ng-model="user.lastName" type="text" class="form-control" placeholder="Last Name"/>
                <input ng-model="user.username" type="text" class="form-control" placeholder="username"/>
                <input ng-model="user.password" type="password" class="form-control" placeholder="password"/>
                <input ng-model="user.vpassword "type="password" class="form-control" placeholder="verify password"/>
            </div>
            <div class="col-xs-6">
                <a ng-click="model.register(user)" class="btn btn-primary btn-block reg-card">Register</a>
                <a class="btn btn-danger btn-block reg-card" href="#/login">Cancel</a>
            </div>
        </div>



</div>


